html, body {
    margin: 0;
    height: 100%;
}

#main {
	/*overflow: auto;*/
    
    height: calc(100% - 30px);
}

#chatbox {
	margin-left: 5px;
	position: fixed;
	bottom: 50px;
	right: 0px;
	left: 0px;
	height: 60px;
}

#chatSend{
    height: 40px;
    position: fixed;
	bottom: 25px;
    right: 15px;
}

.wysihtml5-sandbox p{margin: 0px;}

#chattext{
    height: 60px;
}

.absolute-center {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
