#main {
	overflow: auto;
	height: calc(100% - 50px);
}
#chatbox {
	margin-left: 5px;
	position: fixed;
	bottom: 0;
	right: 0px;
	left: 0px;
	height: 30px;
}

.absolute-center {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
}
